[submodule "arpfox-bin/arpfox-bin-aur"]
	path = arpfox-bin/arpfox-bin-aur
	url = ssh://aur@aur.archlinux.org/arpfox-bin.git
[submodule "arpfox-git/arpfox-git-aur"]
	path = arpfox-git/arpfox-git-aur
	url = ssh://aur@aur.archlinux.org/arpfox-git.git
[submodule "gofetch-git/gofetch-git-aur"]
	path = gofetch-git/gofetch-git-aur
	url = ssh://aur@aur.archlinux.org/gofetch-git.git
[submodule "arpfox/arpfox-aur"]
	path = arpfox/arpfox-aur
	url = ssh://aur@aur.archlinux.org/arpfox.git
[submodule "teleirc/teleirc-aur"]
	path = teleirc/teleirc-aur
	url = ssh://aur@aur.archlinux.org/teleirc.git
[submodule "teleirc-bin/teleirc-bin-aur"]
	path = teleirc-bin/teleirc-bin-aur
	url = ssh://aur@aur.archlinux.org/teleirc-bin.git
[submodule "gitrob/gitrob-aur"]
	path = gitrob/gitrob-aur
	url = ssh://aur@aur.archlinux.org/gitrob.git
[submodule "gitrob-git/gitrob-git-aur"]
	path = gitrob-git/gitrob-git-aur
	url = ssh://aur@aur.archlinux.org/gitrob-git.git
[submodule "gitrob-bin/shhgit-aur"]
	path = gitrob-bin/gitrob-bin-aur
	url = ssh://aur@aur.archlinux.org/shhgit.git
[submodule "shhgit-git/shhgit-aur"]
	path = shhgit-git/shhgit-aur
	url = ssh://aur@aur.archlinux.org/shhgit.git
[submodule "shhgit/shhgit-aur"]
	path = shhgit/shhgit-aur
	url = ssh://aur@aur.archlinux.org/shhgit.git
[submodule "xmountains/xmountains-aur"]
	path = xmountains/xmountains-aur
	url = ssh://aur@aur.archlinux.org/xmountains.git
[submodule "hyperfox/hyperfox-aur"]
	path = hyperfox/hyperfox-aur
	url = ssh://aur@aur.archlinux.org/hyperfox.git
[submodule "xmountains-git/xmountains-git-aur"]
	path = xmountains-git/xmountains-git-aur
	url = ssh://aur@aur.archlinux.org/xmountains-git.git
[submodule "hyperfox-git/hyperfox-git-aur"]
	path = hyperfox-git/hyperfox-git-aur
	url = ssh://aur@aur.archlinux.org/hyperfox-git.git
[submodule "hyperfox-bin/hyperfox-bin-aur"]
	path = hyperfox-bin/hyperfox-bin-aur
	url = ssh://aur@aur.archlinux.org/hyperfox-bin.git
[submodule "gitflux-git/gitflux-git-aur"]
	path = gitflux-git/gitflux-git-aur
	url = ssh://aur@aur.archlinux.org/gitflux-git.git
[submodule "beehive-bin/beehive-bin-aur"]
	path = beehive-bin/beehive-bin-aur
	url = ssh://aur@aur.archlinux.org/beehive-bin.git
[submodule "oauth2-proxy/oauth2-proxy-aur"]
	path = oauth2-proxy/oauth2-proxy-aur
	url = ssh://aur@aur.archlinux.org/oauth2-proxy.git
[submodule "oauth2-proxy-git/oauth2-proxy-git-aur"]
	path = oauth2-proxy-git/oauth2-proxy-git-aur
	url = ssh://aur@aur.archlinux.org/oauth2-proxy-git.git
[submodule "oauth2-proxy-bin/oauth2-proxy-bin-aur"]
	path = oauth2-proxy-bin/oauth2-proxy-bin-aur
	url = ssh://aur@aur.archlinux.org/oauth2-proxy-bin.git
[submodule "benthos-git/benthos-git-aur"]
	path = benthos-git/benthos-git-aur
	url = ssh://aur@aur.archlinux.org/benthos-git.git
[submodule "benthos/benthos-aur"]
	path = benthos/benthos-aur
	url = ssh://aur@aur.archlinux.org/benthos.git
[submodule "benthos-bin/benthos-bin-aur"]
	path = benthos-bin/benthos-bin-aur
	url = ssh://aur@aur.archlinux.org/benthos-bin.git
[submodule "fm-git/fm-git-aur"]
	path = fm-git/fm-git-aur
	url = ssh://aur@aur.archlinux.org/fm-git.git
[submodule "spaghetti-git/spaghetti-git-aur"]
	path = spaghetti-git/spaghetti-git-aur
	url = ssh://aur@aur.archlinux.org/spaghetti-git.git
[submodule "go-licenses-git/go-licenses-git-aur"]
	path = go-licenses-git/go-licenses-git-aur
	url = ssh://aur@aur.archlinux.org/go-licenses-git.git
[submodule "lokoctl/lokoctl-aur"]
	path = lokoctl/lokoctl-aur
	url = ssh://aur@aur.archlinux.org/lokoctl.git
[submodule "critcmp/critcmp-aur"]
	path = critcmp/critcmp-aur
	url = ssh://aur@aur.archlinux.org/critcmp.git
[submodule "matchbox/matchbox-aur"]
	path = matchbox/matchbox-aur
	url = ssh://aur@aur.archlinux.org/matchbox.git
[submodule "vvgo/vvgo-aur"]
	path = vvgo/vvgo-aur
	url = ssh://aur@aur.archlinux.org/vvgo.git
